NODE_ENV=development
PORT=5000

API_BASE_URL=http://localhost:5000

DATABASE_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@localhost:5432/movieshelf_db"

JWT_SECRET=RANDOM_JWT_SECRET
JWT_EXPIRES_IN=7d

TMDB_API_KEY=TMDB_API_KEY
TMDB_BASE_URL=TMDB_BASE_URL

CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000

EMAIL_HOST=SMTP_HOST
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=SMTP_USERNAME
EMAIL_PASS=SMTP_PASSWORD
EMAIL_FROM=MovieShelf <noreply@example.com>